{% extends 'base.html' %}
{% block content %}

     <table style="margin-top: 200px;" class="table table-warning">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
        <th scope="col">Quantity</th>
         <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for item in order_items %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td><img style="width: 100px; height: auto;" src="{{ item.product.image.url }}"></td>
      <td>{{ item.product.price }}</td>
    <td>{{ item.quantity }}</td>
    <td>{% widthratio item.product.price 1 item.quantity %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}