<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{%block title%}
Услуги
{% endblock %}

{% block content %}
<section id="wrapper">
	<header>
		<div class="inner">
			<h2>Услуги Барбершопа</h2>
			<p>В наше время индустрия моды регулярно предлагает нам свежие тренды, стираются многолетние стереотипы, которые связаны с модой и стилем. Мужчины отдают предпочтение окрашиванию волос и креативным, модным стрижкам. Ведь современный мужчина с качественной длинной или короткой прической неизменно выглядит уверенно и представительно.

				Сейчас не столь важен цвет, форма стрижки или аксессуары, как сами волосы, их здоровье и ухоженный вид, поэтому необходимо стричься у профессионала своего дела. Мы отлично разбираемся в этом, мужские стрижки и бритье — наша специализация, работы наших мастеров оценены по достоинству каждым, кто приходит в Men's Club 13.</p>
		</div>
	</header>

	<!-- Content -->
		<div class="wrapper">
			<div class="inner">

				<h3 class="major">МУЖСКИЕ
					СТРИЖКИ</h3>
				<p>Чтобы облегчить Вам выбор и определить желаемый стиль стрижки, Men's Club 13 представляет Вашему вниманию некоторые виды и названия модельных мужских стрижек, которые мы с удовольствием сделаем для Вас!</p>

				<h3 class="major">Стрижка усов и бороды, оформление</h3>
				<p>Борода и усы для мужчины важная особенность издревле. И если вы думаете, что «отпустить бороду» или «отрастить усы» — значит просто дать волосам на лице расти как они хотят, то вы сильно ошибаетесь. За ними нужен особый уход как ежедневный, так и профессиональный.</p>

				<section class="features">
					<div id="sidebar">
						<div style="margin-left: -80px">
						<a href="{% url 'services_list' %}?-price=sort">
						  <button class="btn btn-outline-primary">Expensive</button>
						</a>
						<a href="{% url 'services_list' %}?price=sort">
						  <button class="btn btn-outline-primary">Low</button>
						</a>
						<ul style="margin-top: 10px;">
						  <li {% if not category %}class="selected"{% endif %}>
							<a href="{% url 'services_list' %}">All</a>
						  </li>


				<section class="features">
					<article>
						<a href="#" class="image"><img src="{% static 'images/haircut.jpg' %}" alt="" /></a>
						<h3 class="major">МУЖСКИЕ
							СТРИЖКИ</h3>
						<p>Выбрать барбера и записаться на стрижку</p>
						<a href="#" class="special">Записаться</a>
					</article>
					<article>
						<a href="#" class="image"><img src="{% static 'images/beardcut.jpg' %}" alt="" /></a>
						<h3 class="major">СТРИЖКА УСОВ
							И БОРОДЫ</h3>
						<p>Выбрать барбера и записаться на стрижку усов и бороды</p>
						<a href="#" class="special">Записаться</a>
					</article>
				</section>

			</div>
		</div>

</section>
{%endblock%}