{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}

  <div style="margin: 250px 100px; " class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h2>{{ product.name }}</h2>
    <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
    <p class="price">${{ product.price }}</p>
    {{ product.description|linebreaks }}
	<p style=" color: white" >Likes: {{likes}}</p>
	<nav aria-label="likes" style="margin-left: 50px"> 
		<form action="{% url 'product_like_url' product.id %}" method="POST" >
		  {% if request.user.is_authenticated %}
		  {% csrf_token %}
			<button style=" color: black; font-size: 15px;" type="submit" name="product_id" value="{{ product.id }}"
				class="btn btn-outline-primary btn-sm">Like</button>
			{% endif %}
		</form>
		
	  </nav>
	  

    
    {% if request.user.is_authenticated %}
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} Review{{ total_comments|pluralize }}
    </h2>
		{% endwith %}
			{% for comment in comments %}
				<div class="comment">
					<p class="info">
						Comment {{ forloop.counter }} by {{ comment.name }}
						{{ comment.created }}
					</p>
					{{ comment.body|linebreaks }}
				</div>
			{% empty %}
				<p>Никто еще не оставил отзыв.</p>
			{% endfor %}
			  {% if new_comment %}
					<h2>Ваш отзыв добавлен.</h2>
				{% else %}
					<h2>Оставить отзыв</h2>
					<form action="." method="post">
						{% csrf_token %}
						{{ comment_form.as_p }}
						<p><input type="submit" value="Add comment"></p>
					</form>
				{% endif %}
        <form action="{% url 'cart_add' product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Add to cart">
        </form>
       {% if request.user.is_staff %}
        <div class="d-flex justify-content-between total font-weight-bold mt-4">
  
          <a href="{% url 'update_product' product.slug %}"><button type="button" class="btn btn-success" >Update</button></a>
  
          <a href="{% url 'delete_product' product.slug %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
        {% endif %}
    </div>
   
    {% else %}
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} review {{ total_comments|pluralize }}
    </h2>
		{% endwith %}
			{% for comment in comments %}
				<div class="comment">
					<p class="info">
						Review{{ forloop.counter }} by {{ comment.name }}
						{{ comment.created }}
					</p>
					{{ comment.body|linebreaks }}
				</div>
			{% empty %}
				<p>Никто еще не оставил отзыв о продукте.</p>
			{% endfor %}
          <h2>Только авторизованные пользователи могут оставлять отзывы </h2>

      {% endif %}

{% endblock %}