<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{%block title%}
Магазин
{% endblock %}

{% block content %}
<section id="wrapper">
	<header>
		<div class="inner">
			<h2>Косметика и стайлинги для мужчин</h2>
			<h3>Настоящий стиль — это внимание к деталям</h3>
            <p>Стайлинги давно являются неотъемлемой частью создания мужского стиля. В нашем барбершопе мы используем только профессиональные средства, которые теперь доступны всем нашим клиентам.</p>
		</div>
	</header>

	<!-- Content -->
		<div class="wrapper">
			<div class="inner">

				<h3 class="major">Как подобрать средство?</h3>
				<p>Советы от Men's Club 13:<br></br>
                    Косметика для волос в первую очередь различается по степени блеска и уровню фиксации.<br></br>
                    Грамотная консультация наших барберов поможет определиться с выбором средства, которое подойдет именно вашему типу волос.</p>

				<h3 class="major">Каталог Товаров</h3>
				<p>Men's Club 13 – не просто сервис, признанный во всем мире.<br></br>
                    О наличии и стоимости товаров уточняйте в ближайшем филиале сети барбершопов Men's Club 13.</p>

				<section class="features">
					<article>
						{% for product in products %}
						<a href="#" class="image"><img src="{{product.image.url}}" alt="" /></a>
						<h3 class="major">{{product.name}}</h3>
						<h3 class="major">{{product.price}} $</h3>
						<p>{{product.description}}</p>
						<a href="#" class="special" style="margin-bottom: 70px">Купить</a>

						{% endfor %}
					</article>
					
				</section>

			</div>
		</div>

</section>
{%endblock%}