<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
{%block title%}
Магазин
{% endblock %}

{% block content %}
<section id="wrapper">
	<header>
		<div class="inner">
			<h2>Косметика и стайлинги для мужчин</h2>
			<h3>Настоящий стиль — это внимание к деталям</h3>
            <p>Стайлинги давно являются неотъемлемой частью создания мужского стиля. В нашем барбершопе мы используем только профессиональные средства, которые теперь доступны всем нашим клиентам.</p>
		</div>
	</header>

	<!-- Content -->
		<div class="wrapper">
			<div class="inner">

				<h3 class="major">Как подобрать средство?</h3>
				<p>Советы от Men's Club 13:<br></br>
                    Косметика для волос в первую очередь различается по степени блеска и уровню фиксации.<br></br>
                    Грамотная консультация наших барберов поможет определиться с выбором средства, которое подойдет именно вашему типу волос.</p>

				<h3 class="major">Каталог Товаров</h3>
				<p>Men's Club 13 – не просто сервис, признанный во всем мире.<br></br>
                    О наличии и стоимости товаров уточняйте в ближайшем филиале сети барбершопов Men's Club 13.</p>

				<section class="features">
					<article>
						{% for product in products %}
						<a href="#" class="image"><img src="{{product.image.url}}" alt="" /></a>
						<h3 class="major">{{product.name}}</h3>
						<p>{{product.description}}</p>
						<a href="#" class="special">Купить</a>
						{% endfor %}
					</article>
					{% comment %} <article>
						<a href="#" class="image"><img src="{% static 'images/cosmetic2.jpg' %}" alt="" /></a>
						<h3 class="major">LOCK STOCK & BARREL DISORDER ULTRA MATTE CLAY (100 гр.)</h3>
						<p>Lock Stock & Barrel Disorder Ultra Matte Clay — Ультра- матовая глина для скульптурирования.
                            Дает грубую растрепанную текстуру, эффект волос Маугли и Тарзана в одном лице – диковатые и неухоженные, матовость и сильная степень фиксации.
                            Бесценный кусок чистейшей ГРЯЗИ, который создаст на голове адский беспорядок. Для всех, кому близок стиль живущего под мостом бродяги, диковатого Маугли и свободного от социальных предрассудков хипаря. Стайлинг содержит горную породу диатомит и глинистый минерал бентонит, дающие мега-матовость и фиксацию. Кварц и пемза в составе отвечают за сцепление волос и текстурность.</p>
						<a href="#" class="special">Купить</a>
					</article>
                    <article>
						<a href="#" class="image"><img src="{% static 'images/cosmetic3.jpg' %}" alt="" /></a>
						<h3 class="major">REUZEL EXTREME HOLD MATTE POMADE (35 / 113 гр.)</h3>
						<p>Reuzel Extreme Hold Matte Pomade (Нидерланды,США) — паста для укладки волос от легендарного нидерландского барбершопа Schorem.
                            Средство для укладки суперсильной фиксации, матирует волосы, отлично подойдет для современных текстурированных укладок.
                            Прекрасно распределяется по волосам, отлично сохраняет объем и позволяет поправлять укладку в течении дня.
                            Без усилий смывается водой.
                            Обладает приятным фруктовым ароматом с нотками ананаса.</p>
						<a href="#" class="special">Купить</a>
					</article> {% endcomment %}
				</section>

			</div>
		</div>

</section>
{%endblock%}